body{
    background-color: lightsalmon;
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    font-family: Roboto;
}


header{
    display: flex;
    height: 70px;
    background-color: rgb(148, 51, 16);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}
p {
    padding: 3% 25% 1% 25%;
}
#texto_equipo {
    text-align: justify;
}
.Manchester_United {
    color: aliceblue;
    padding-left: 10px;
}
.logo_header {
    padding-top: 2%;
}
.nav-link {
    color: aliceblue;
    padding-right: 15px;
}
.Content {
    border: salmon 20px solid;
    margin: 1% 12% 3% 12%;
    background-color: seashell;
}
#titulo_content {
    padding-top: 2%;
    color: rgb(148, 51, 23);
}
#titulo_tienda {
    padding-bottom: 2%;
}
#leyendas {
    color: rgb(148, 51, 23);
}
.titulo_jugador {
    color:rgb(148, 51, 16);
    font-size: 20px;
    font-weight: bold;
}